<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
        <add key="Sms.Router.ProviderName" value="msmq"/>
    </appSettings>

	<connectionStrings>
		<clear/>
		<add name="default" connectionString="Server=%SMS_TESTDB_SERVER%;Database=%SMS_TESTDB_NAME%;User ID=%SMS_TESTDB_USER%;Password=%SMS_TESTDB_PASSWORD%;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	
</configuration>