<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Aws.Sqs.ServiceURL" value="http://sqs.ap-southeast-2.amazonaws.com"/>
		<add key="Aws.Sqs.AccessKey" value="%AWS_TEST_ACCOUNT_SQS_KEY%"/>
		<add key="Aws.Sqs.SecrentKey" value="%AWS_TEST_ACCOUNT_SQS_SECRET%"/>
	</appSettings>
</configuration>